@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* ----------------Primary Font--------------------------  */
.urbanist-font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

/*-------------------Base Button-----------------------*/
.btn-base {
  border-radius: 12px;
  font-weight: 700;
  color: #606060;
  font-size: 16px;
  cursor: pointer;
}
/*-------------------------Navbar Active-------------------------*/
.midLinks a.active {
  background: #caeb66;
  padding: 11px 19px;
  border-radius: 50px;
  font-weight: 700;
}

/*------------------To fix Overwrite of active when hovered--------------------*/
.midLinks a.active:hover {
  color: inherit;
  border-bottom: none;
}

/*-----------------hamburger ACtive----------------------*/
.hamburger .active {
  font-weight: 700;
  color: #9ac43f;
  border-bottom: 1px solid #9ac43f;
}

/*-------------------NavLinks Hover-----------------------------*/
.midLinks a:hover {
  font-weight: 700;
  color: #9ac43f;
  /* text-decoration: underline;  */
  border-bottom: 1px solid #9ac43f;
}

.footerLink a:hover {
  font-weight: 700;
  color: #9ac43f;
}

.swal-confirm-btn {
  background-color: #16a34a; /* green */
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600; 
  margin-right: 10px; 
  cursor: pointer;
}

.swal-confirm-btn:hover {
  background-color: #15803d;
}

.swal-cancel-btn {
  background-color: #e5e7eb;
  color: #0f172a;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

/*---------------------Theme Customization------------------------*/
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-third: #acc857;
  --color-base-content: #606060;
}
